{% extends 'base.html' %}

{%block title%}Informace{%endblock%}

{% block obsah %}

<h1>Zkracovač URL</h1>

{% if  new %}
<p>Vytvořená nová zkratka: <a href="{{ new }}">{{ new }}</a></p>

{% endif %}

<form action="" method="POST">
    <p class = "url">
    Zadej URL:<br><input type="text" name="url" placeholder="url" > <br>

    <input type="submit" value="Zkrátit">
    </p>
</form>


<h2>Seznam uložený skratek</h2>
<ul>
{% for zkratka,url in zkratky %}
<li><a href="{{url_for('dezkracovac',zkratka=zkratka)}}">{{zkratka}}</a> <a href="{{url}}">{{url}}</a></li>

{% endfor %}
</ul>

{% endblock obsah %}
